body, html{
    height: 100%;
    margin: 0;
}

.hero-image{
   background-image: url(/Portfolio/Assets/moshpit.PNG);
   background-color: black;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    font-family: 'Sedgwick Ave Display', cursive;
    color: white;
}

h5{
    font-family: 'uchen', serif;
}
p{
    font-family: 'roboto condensed', serif;
}


.card{
    margin: 1%;
    border: none;
}

#about{
    padding-left: 10%;
    padding-right: 30%;
}

#itMe{
   height: 500px;
   width: auto;
   padding-left: 1%;

}
